body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/** I need to do this part latter: import from google API 07-10-2024*/
/*@import url('https//fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap');*/